* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.header {
  background-color: pink;
  padding: 30px 80px;
}

li {
  font-weight: bold;
  margin: 0 80px 0 80px;
  display: inline-block;
}

main {
  margin: 50px 0 50px 0;
}

.card {
  border: solid pink;
  width: 300px;
  margin: 20px 0 0 30px;
  padding: 20px;
  display: inline-block;
  border-radius: 10px;
}

.price-card {
  margin: 20px 80px;
}

.form-card {
  margin: 20px 50px;
}

.button-card {
  margin: 10px 85px;
  background-color: pink;
  border: solid pink;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

footer {
  background-color: pink;
  padding: 20px;
}

.h2-footer {
  margin-bottom: 10px;
}

.input-footer {
  margin-right: 10px;
  border: none;
  border-radius: 8px;
  padding: 2px;
}

.button-footer {
  background-color: whitesmoke;
  border: solid whitesmoke;
  padding: 0 5px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}
